.div {
  display: flex;
  border: 1px solid black;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.div:not(
  :nth-child(3),
  :nth-child(6),
  :nth-child(9)
  ) {
  border-right: none;
}

.div:not(
  :nth-child(1),
  :nth-child(2),
  :nth-child(3)
  ) {
  border-top: none;
}

.image {
  width: 31px;
  height: 31px
}

.circle {
  width: 44px;
  height: 44px;
}

.cellCheckedCross {
 background-color: yellow;
}

.cellCheckedCircle {
 background-color: cornflowerblue;
}