.name1 {
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: lightseagreen;
}

.name2 {
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: orange;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.status {
  font-size: 11px;
}
